* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: auto;
    background-color: #e6e6e6;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

header {
    background-color: cornflowerblue;
    position: fixed;
    padding: 0 2rem;
    z-index: 1;
    width: 100%;
}

.navbar {
    height: 65px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img {
    width: 90px;
    height: 75px;
}

.navbar .links {
    display: flex;
}

.navbar .links a {
    color: white;
    padding: 19px;
    transition: all .5s ease-in-out;
}

.navbar .links a:hover {
    background-color: rgb(61, 121, 231);
    color: #fff;
}

/* Dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all .5s ease-in-out;
}

.dropdown-content a:hover {
    background-color: rgb(61, 121, 231);
}

/* Show dropdown */
.dropdown-content.show {
    display: block;
}

section {
    position: relative;
    left: 5%;
    width: 90%;
    height: 100%;
    min-height: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background-color: #fff;
}

section h1{         
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
}

section h2{
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
    padding: 10px;
}

section p{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section form{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 25%;
    text-align: center;
    width: 750px;
    margin-bottom: 15px;
    background-color: rgba(61, 121, 231,0.05); 
    color: rgb(19, 44, 89) 
}

section input{
    position: relative;
    left: 25px;
    display: flex;
    align-items: center;
    width: 700px;
}

section input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: cornflowerblue;
}
