* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #e6e6e6;
}


a {
    text-decoration: none;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

.container{ 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: rgba(100, 148, 237, 0.577);
    padding: 15px;
    border-radius: 15px;
    height: 450px;
    width: 350px;
    display: flex;
    justify-content: center;
}
.login-box input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    
}

.login-box input[type=submit]{
    position: relative;
    left: 40%;
    width: 70px;
    height: 35px;
}