* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: #e6e6e6;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

header {
    background-color: cornflowerblue;
    position: fixed;
    padding: 0 2rem;
    z-index: 1;
    width: 100%;
}

.navbar {
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img {
    width: 90px;
    height: 75px;
}

.navbar .links {
    display: flex;
}

.navbar .links a {
    color: white;
    padding: 19px;
    transition: all .5s ease-in-out;
}

.navbar .links a:hover {
    background-color: rgb(61, 121, 231);
    color: #fff;
}

section {
    position: relative;
    left: 5%;
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background-color: #fff;
}

section h1,
hr {
    position: relative;
    top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

section h1 {
    padding: 10px;
}

section h2 {
    position: relative;
    top: 75px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
}

section .out-line {
    padding-top: 15px;
    position: relative;
    top: 85px;
}

section h3 {
    position: relative;
    top: 85px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(19, 44, 89);
    background-color: rgba(61, 121, 231, 0.05);
}

section button {
    position: relative;
    top: 90px;
    left: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6495ed;
    border: 0;
    font-size: 25px;
    color: white;
    width: 500px;
    height: 50px;
}

section h3 p {
    padding: 15px;
    color: rgb(19, 44, 89);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: cornflowerblue;
}

.dropdown-content {
    display: none;
}

.dropdown-content.show {
    display: block;
}
